@inherits LayoutComponentBase




<div class="main">
  
    <div style="display: flex; justify-content: space-between; padding: 20px; padding-bottom:0px; background-color: #000000; color: #ffffff " >
        <div >
                <a  href=""> eShop</a>
        </div>
        <div>
            <NavLink class="nav-link" href="cart">
                <eShop.Web.CustomerPortal.Controls.CartComponent>
                </eShop.Web.CustomerPortal.Controls.CartComponent>
            </NavLink>
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
