@inherits LayoutComponentBase




<div class="main">
  
    <div >
        <div style="width:100%;background-color:#000000;color:#ffffff">
                <a style="padding:20px" href=""> eShop</a>
            
        </div>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
